{% extends "plantilla.html" %}
{% block banner %}{% endblock %}
{% block contenido %}
<link rel="stylesheet" href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
<div class="container mt-5">
    <h2 class="mb-4 text-center">Listado de Mascotas</h2>
    <a href="{% url 'nueva_mascota' %}" class="btn btn-success mb-3">+ Nueva Mascota</a>
    <table class="table table-bordered table-striped table-hover text-center" id="tabla-mascotas">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Especie</th>
                <th>Raza</th>
                <th>Sexo</th>
                <th>Edad</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for m in mascotas %}
            <tr>
                <td>{{ m.id_mas }}</td>
                <td>{{ m.nombre_mas }}</td>
                <td>{{ m.especie_mas }}</td>
                <td>{{ m.raza_mas }}</td>
                <td>{{ m.sexo_mas }}</td>
                <td>{{ m.edad_anios_mas }}</td>
                <td>{{ m.estado_mas }}</td>
                <td>
                    <a href="{% url 'editar_mascota' m.id_mas %}" class="btn btn-outline-success">Editar</a>
                    <a href="javascript:void(0)" onclick="eliminarMascota('{% url 'eliminar_mascota' m.id_mas %}');" class="btn btn-outline-success">Eliminar</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="8">No hay mascotas registradas.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script>
  $(document).ready(function() {
    $('#tabla-mascotas').DataTable();
  });

  function eliminarMascota(url){
      iziToast.question({
          timeout: 15000,
          close: true,
          overlay: true,
          displayMode: 'once',
          id: 'question',
          zindex: 999,
          title: 'CONFIRMACIÓN',
          message: '¿Está seguro de eliminar esta mascota?',
          position: 'center',
          buttons: [
              ['<button><b>SI</b></button>', function (instance, toast) {
                  instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                  window.location.href = url;
              }, true],
              ['<button>NO</button>', function (instance, toast) {
                  instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
              }],
          ]
      });
  }
</script>
{% endblock %}
